@font-face {
    font-family: 'Raleway';
    src:url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YoungSerif';
    src:url('fonts/YoungSerif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font0: 'Raleway';
    --font1: 'YoungSerif';
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header > section#titulo-site {
    font-family: var(--font0);

    margin-bottom: 25px;
}

header > section > .imagens-header {
    width: 300px;
    height: 300px;
}

header > section > #effect-border-bottom {
    border-top: 1px solid black;
}

header > #button-jogar {
    margin-top: 20px;

    width: 300px;
    height: 35px;

    font-family: var(--font1);
    font-size: 18px;

    background-color: rgb(252, 165, 165);
    cursor: pointer;
}
/* rgb(255, 182, 182); */

header > #button-jogar:hover {
    background-color: rgb(255, 152, 152);
}