@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    position: absolute;
    transform: translateY(-3rem);
}

.cabecalho {
    width: 25rem;
    height: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
 

}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: rgb(52, 52, 52);
}

hr {
    width: 100%;
}
/* rgb(205, 202, 250); */

.painel-game {
    width: 25rem;
    height: 30rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.modal-interface {
    width: 25rem;
    height: 8rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    background-color: white;
    border: none;
}

.pai-interface {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pai-interface > .interfaces {
    background-color: rgb(52, 52, 52);
    padding: 1rem;
    border-radius: .4rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.pai-interface > .interfaces > .user {
    margin-bottom: 0.4rem;
    background-color: rgb(121, 119, 119);
}

.pai-interface > .interfaces > p {
    font-size: 1.2rem;
    color: white;
}

.modal-interface > .pai-interface > button {
    padding: 0.3rem;
    border-radius: 0.3rem;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    transition: 0.5s all;
}

.modal-interface > .pai-interface > button:hover {
    background-color: rgb(116, 116, 116);
    transition: 0.3s all;
}

.jogo-da-velha {
    background-color: black;
}

.game-configs {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;

}

/* rgb(251, 251, 84); */
.game-configs > div {
    width: 5rem;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.game-configs > div:hover {
    background-color: rgb(245, 245, 245)
}

.optionPlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragrafoOptionPlay {
    font-size: 4.5rem;
}

.painel-game > .jogador-da-vez {
    font-size: 1.5rem;
    margin-top: 2rem;
}

