@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 98vh;
    width: 98vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
}

header {
    width: 100vw;
    height: 75px;
    background-color:rgb(153, 249, 249);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    transform: translateY(-8px);
}

header > h1#titulo_header {
    color: rgb(255, 84, 150);
}

main {
    
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

main > #pai_box > #section_lists {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(44, 129, 185);
    border-radius: 7px;

    width: 300px;
    height: 400px;

    position: relative;
    transform: translateX(-5px);
}

main > #pai_box > #section_lists > #pai_lists {


    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-columns: 200px;
    grid-auto-rows: 50px;
    grid-gap: 15px;
    
    position: relative;
    transform: translateY(15px);

}

main > #pai_box >#section_lists > #pai_lists > .lists {
    background-color: rgb(251, 251, 251);
    border-radius: 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    margin: 10px;

}
/* rgb(255, 230, 230)  */
main > #pai_box > #section_lists > #pai_lists > .lists:hover {
    background-color: rgb(210, 250, 250);
    border: 1px solid rgb(255, 225, 225);
    cursor: pointer;
    height: 47px;
    transition: all .1s ease .1s;
}

main > #pai_box > #section_lists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > #pai_box > #section_lists > #buttons {
    width: 75px;
    height: 50px;
    margin: 15px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main > #pai_box > #section_lists > #buttons > .button_press {
    width: 25px;
    height: 25px;
    background-color:rgb(251, 251, 251);
    border-radius: 3px;
}

main > #pai_box > #section_lists > #buttons > #button_adicionar {
    border: 1px solid rgb(110, 243, 147);
}

main >  #pai_box > #section_lists > #buttons > #button_remover {
    border: 1px solid rgb(255, 132, 132);
    height: 26px;
}

main > #pai_box > #section_lists > #buttons > #button_adicionar:hover {
    background-color: rgb(110, 243, 147);
    border: 1px solid rgb(153, 249, 249);
    height: 26px;
    cursor: pointer;
}

main >  #pai_box > #section_lists > #buttons > #button_remover:hover {
    background-color: rgb(255, 132, 132);
    border: 1px solid rgb(153, 249, 249);
    height: 27px;
    cursor: pointer;
}