@charset "UTF-8";

@font-face {
    font-family: 'Apresentation';
    src: url('./archives/AnnieUseYourTelescope-Regular.ttf') format('truetype');
    font-weight: regular;
    font-style: regular;
}

:root {
    --corTextoPrincipal: #1e0b20;
    --corTextoSecundaria: white;
    
    --color1: #9552b5;
    --color2: #af6ac8;
    --color3: #c982da;
    --color4: #e299ed;
    --color5: #fcb1ff;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

/*
Pequenas telas: até 600px.
Celular: de 600px até 768px.
Tablet: 769px até 992px.
Desktop: 992px até 1200px.
Grandes telas: acima de 1200px.
*/

body, html {
    background-image: url("./archives/body-wallpaper-1920x1200.jpeg");
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    box-sizing: border-box;
}

.painel-de-listas {
    color: var(--corTextoPrincipal);
    text-align: center;

    background-color: var(--color3);

    width: 30vw;
    height: 100%;
    max-height: 100vh;
    padding: 1rem;

    position: relative; 
    left: -30vw;
    transition: all .7s;
}

.painel-de-listas--visivel { left: 0; }

.painel-de-listas--visivel > .button-ocultar-painel-de-listas {
    right: -1.6rem;
    transform: rotate(0deg);
}

.button-estilo {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: none;
    background-size: cover;
    cursor: pointer;
}

.button-estilo:hover {
    background-color: var(--color1);
    transition: 0.3s all;
}

.button-estilo:hover i {
    color: white;
}

.button-ocultar-painel-de-listas{
    background-color: var(--color5);
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    
    position: absolute;
    right: -4.6rem;
    top: 2rem;
    transform: rotate(-180deg);
    transition: all .7s;
}

.button-ocultar-painel-de-listas i {
    font-size: 3.5rem;
}

.painel-de-listas > h1 {
    font-size: 3rem;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px var(--color1);
}

.container-das-listas {
    background-color: var(--color2);
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem .5rem;
    border-radius: 10px;
}

.container-das-listas > .lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid var(--color4);
    padding: .3rem;
    border-radius: 0.3rem;
    color: white;
    text-shadow: 1px 1px var(--color1);
}

.container-das-listas > .lista > p {
    font-size: 1.8rem;
    padding-left: 0.5rem;
    margin-right: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-das-listas > .lista > i {
    padding-bottom: 0.3rem;
}

.container-das-listas > .lista > .buttons {
    display: flex;
    gap: 1rem;
    margin: 0.3rem;
    padding: 0.2rem;
}

.button-renomear-lista {
    position: relative;
    font-size: 1.5rem;
}

.button-remover-lista {
    position: relative;
    font-size: 1.5rem;
}

.icon-configs {
    color: #1a1919ee;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: .2rem;
}

.button-criar-nova-lista {
    width: 4rem;
    height: 4rem;
    margin-top: 1.5rem;
    background-color: white;
    transition: .5s all;
    
    position: relative;
}

.button-criar-nova-lista i {
    font-size: 3rem;
    transition: .1s all;
}


.button-criar-nova-lista:hover i {
    font-size: 3.5rem;
}


.section-apresentacao {
    
}

.section-lista {

}



















@media all {

.painel-listas--visivel {
    height: 100vh;
    background-color: #80eafd;

    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.8s cubic-bezier(0.19, 0.675, 0.55, 0.55);
    z-index: 51;
}

.painel-lista {
    display: none;
}

.painel_listasAnimationOcultar {
    left: -20%;
}

/* rgb(0, 162, 255);    rgb(120, 255, 255);*/
.pai_cabeçalho_painelListas {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border_cabeçalho_painelListas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgb(0, 162, 255);

    padding: 1rem;

}

.buttons_listaSelector {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;

}

.buttons_listaSelector:hover {
    border: 1px solid black;
    cursor: pointer;
}

.btn_criarListas {
    background-image: url("./archives/mais-adicionar.png");
   }

.renomearListaSelector_button {
    background-image: url("./archives/lapis-renomear.png");
}

.removerListaSelector_button {
    background-image: url("./archives/excluir.png");
}

.ocultar_buttonListaSelector {
    background-image: url("./archives/seta-esquerda.png");
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    margin: 10px 0px 10px 10px;

    position: absolute;
    right: -15px;
    transition: 0.8s cubic-bezier(0.19, 0.675, 0.55, 0.55);
}

.Animation_buttonListaSelector {
    position: absolute;
    left: -80%;
    transform: rotate(-180deg);
    transition: 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.ocultar_buttonListaSelector:hover {
    border: 1px solid black;
    cursor: pointer;
}

.container_all_listas_selector {
    margin: 0px 0px 0px 21px;
    height: 100%;
    width: 90%;
}

.listas_selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 0.1rem solid rgb(0, 162, 255);
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
    
}

.buttons_listaSelector {
    margin: 0px 5px;
}

.paragrafo_listaSelector {
    color: black;
    font-size: 1.5rem;
}

.section_apresentaçao {
    width: 920px;
    height: 595px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    border: 5px solid black;
}

.section_apresentaçaoAnimation {
    z-index: 1;
}

.paragrafo_apresentaçao {
    padding: 25px;
    word-break: break-word;
    font-family: 'Apresentation';
    font-size: 2rem;

}

.começarAgora_iniciarApp {
    width: 200px;
    height: 50px;

    background-color: #80eafd;
    border-radius: 5px;

    font-family: 'Apresentation';
    font-size: 2rem;


    transition: 0.2s linear;
}

.começarAgora_iniciarApp:hover {
    background-color: rgb(0, 162, 255);
    color: white;
    cursor: pointer;
    font-size: 2.1rem;
    transition: 0.2s linear;
}

.section_lists {
    background-color: blue;
    width: calc(100% - 20vw);
    height: 100vh;

    position: absolute;
    z-index: 1;
    right: 0; 
    top: 0;
}

}

/* TODOS APARELHOS MÓVEIS: PEQUENAS TELAS, CELULARES E TABLETS.  */
@media screen and (max-width: 993px){
    .container_all_listas_selector {
        margin: 0px;
        width: 95%;
    }
    
    .buttons_listaSelector {
        width: 32px;
        height: 32px;
    }

    .btn_criarListas {
        background-image: url('./archives/mais-adicionar-celular.png');
    }

    .renomearListaSelector_button {
        background-image: url('./archives/lapis-renomear-celular.png');
    }

    .removerListaSelector_button {
        background-image: url('./archives/excluir-celular.png');
    }

    .section_lists_animation {
        background-color: blue;
        width: 100vw;
        height: 100vh;
    
        position: absolute;
        right: 0; 
        top: 0;
        transition: 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    .section_apresentaçao {
        width: 350px;
        height: 600px;
    }

    .paragrafo_apresentaçao {
        font-size: 1.2rem;
    }
}

/* PEQUENAS TELAS */
@media screen and (max-width: 599px) {

    .painel_listas {
        width: 60vw;    
    }

    .section_lists {
        width: calc(100% - 60vw);
    }

    .Animation_buttonListaSelector {
        transform: translateX(-225px);
        transition: 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

}

/* CELULAR */
@media screen and (min-width: 600px) and (max-width: 768px) {

    .painel_listas {
        width: 55vw;
    }

    .section_lists {
        width: calc(100% - 55vw);
    }

    .Animation_buttonListaSelector {
        transform: translateX(-330px);
        transition: 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

}

/* TABLET */
@media screen and (min-width: 769px) and (max-width: 992px) {

    .painel_listas {
        width: 35vw;    
    }

    .section_lists {
        width: calc(100% - 35vw);
    }

    .Animation_buttonListaSelector {
        transform: translateX(-270px);
        transition: 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}

/* DESKTOP */
@media screen and (min-width: 993px) and (max-width: 1200px) {

    .painel_listas {
        width: 32vw;    
    }

    .section_lists {
        width: calc(100% - 32vw);
    }

    .Animation_buttonListaSelector {
        transform: translateX(-320px);
        transition: 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    
}

/* GRANDES TELAS */
@media screen and (min-width: 1201px) and (max-width: 1900px) {

    .painel_listas {
        width: 20vw;    
    }

    .section_lists {
        width: calc(100% - 20vw);
    }

    .Animation_buttonListaSelector {
        transform: translateX(-240px);
        transition: 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

}

@media screen and (min-width: 1900px) {

    .painel_listas {
        width: 20vw;
    }

    .section_lists {
        width: calc(100% - 20vw);
    }

    .Animation_buttonListaSelector {
        transform: translateX(-390px);
        transition: 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

}