@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #5EEBBE;
}

/*
Pequenas telas: até 600px.
Celular: de 600px até 768px.
Tablet: 769px até 992px.
Desktop: 992px até 1200px.
Grandes telas: acima de 1200px.
*/

@media all {

.painel_listas {
    height: 100vh;
    background-color: rgb(65, 185, 255);

    display: flex;
    flex-direction: column;
}


/* rgb(0, 162, 255);    rgb(120, 255, 255);*/
.pai_cabeçalho_painelListas {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border_cabeçalho_painelListas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgb(0, 162, 255);

    padding: 1rem;

}


.btn_criarListas {
    width: 26px;
    height: 27px;
    border-radius: 50%;
   }

.btn_criarListas:hover {
    width: 27px;
    border: 1px solid #5EEB8D;
    height: 27px;
    cursor: pointer;
}


.container_all_listas_selector {
    margin: 0px 0px 0px 21px;
    height: 100%;
    width: 90%;
}

.listas_selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 0.1rem solid rgb(0, 162, 255);
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
    
}

.buttons_listaSelector {
    margin: 0px 5px;
}

}


@media screen and (max-width: 768px) {
    
    .painel_listas {
        width: 55vw;
    }

}

@media screen and (min-width: 769px) and (max-width: 1200px) {

    .painel_listas {
        width: 20vw;    
    }
}