@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("./archives/body-wallpaper-1920x1200.jpeg");

    display: flex;
    flex-wrap: wrap;
}

/*
Pequenas telas: até 600px.
Celular: de 600px até 768px.
Tablet: 769px até 992px.
Desktop: 992px até 1200px.
Grandes telas: acima de 1200px.
*/

@media all {

.painel_listas {
    height: 100vh;
    background-color: #80eafd;

    display: flex;
    flex-direction: column;
}


/* rgb(0, 162, 255);    rgb(120, 255, 255);*/
.pai_cabeçalho_painelListas {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border_cabeçalho_painelListas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgb(0, 162, 255);

    padding: 1rem;

}

.buttons_listaSelector {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;

}

.buttons_listaSelector:hover {
    border: 1px solid black;
    cursor: pointer;
}

.btn_criarListas {
    background-image: url("./archives/mais-adicionar.png");
   }

.renomearListaSelector_button {
    background-image: url("./archives/lapis-renomear.png");
}

.removerListaSelector_button {
    background-image: url("./archives/excluir.png");
}

.buttons_section {
    width: 50px;
    height: 100vh;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.buttonsOfListaSelector {
    margin: 10px 0px 10px 10px;
}

.apresentaçao_buttonListaSelector {
    background-image: url("./archives/info.png");
    position: relative;
    transform: translate(-1px, 23px);
}

.ocultar_buttonListaSelector {
    background-image: url("./archives/seta-esquerda.png");
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;

    position: relative;
    transform: translateX(-27px);
}

.ocultar_buttonListaSelector:hover {
    border: 1px solid black;
    cursor: pointer;
}

.container_all_listas_selector {
    margin: 0px 0px 0px 21px;
    height: 100%;
    width: 90%;
}

.listas_selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 0.1rem solid rgb(0, 162, 255);
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
    
}

.buttons_listaSelector {
    margin: 0px 5px;
}

.paragrafo_listaSelector {
    color: black;
    font-size: 1.5rem;
}

}

/* TODOS APARELHOS MÓVEIS: PEQUENAS TELAS, CELULARES E TABLETS.  */
@media screen and (max-width: 993px){
    .container_all_listas_selector {
        margin: 0px;
        width: 95%;
    }
    
    .buttons_listaSelector {
        width: 32px;
        height: 32px;
    }

    .btn_criarListas {
        background-image: url('./archives/mais-adicionar-celular.png');
    }

    .renomearListaSelector_button {
        background-image: url('./archives/lapis-renomear-celular.png');
    }

    .removerListaSelector_button {
        background-image: url('./archives/excluir-celular.png');
    }

    .apresentaçao_buttonListaSelector {
        background-image: url('./archives/info-celular.png');
    }
}

/* PEQUENAS TELAS */
@media screen and (max-width: 599px) {

    .painel_listas {
        width: 60vw;    
    }

}

/* CELULAR */
@media screen and (min-width: 600px) and (max-width: 768px) {

    .painel_listas {
        width: 55vw;
    }

}

/* TABLET */
@media screen and (min-width: 769px) and (max-width: 992px) {

    .painel_listas {
        width: 35vw;    
    }
}

/* DESKTOP */
@media screen and (min-width: 993px) and (max-width: 1200px) {

    .painel_listas {
        width: 32vw;    
    }
}

/* GRANDES TELAS */
@media screen and (min-width: 1201px) {

    .painel_listas {
        width: 20vw;    
    }

    .apresentaçao_buttonListaSelector {
        position: relative;
        transform: translate(20px, 25px);
    }
}