@charset "UTF-8";

* {
    margin: 0rem;
    padding: 0rem;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.genius {
    display: grid;
    grid-template-columns: 8.5rem 8.5rem;
    grid-template-rows: 8.5rem 8.5rem;
}

.coresDoJogo {
    cursor: pointer;
}

.blue-color {
    background-color: rgb(165, 165, 255);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.yellow-color {
    background-color: rgba(255, 255, 164, 0.695);
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

/* yellow padrao rgb(255, 255, 164);  */

.green-color {
    background-color: rgb(158, 255, 158);
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.red-color {
    background-color: rgb(255, 156, 156);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

@keyframes animationColorBlue {
    0% { background-color: rgb(165, 165, 255);}   25% { background-color: blue; }
    50% { background-color: blue;}   100% { background-color: rgb(165, 165, 255);}
}
.animationColorBlue { animation: animationColorBlue .2s; }

@keyframes animationColorYellow {
    0% { background-color: rgb(255, 255, 164, 0.695);}   25% { background-color: yellow; }
    50% { background-color: yellow;}   100%{ background-color: rgb(255, 255, 164, 0.695); }
}
.animationColorYellow { animation: animationColorYellow .2s; }

@keyframes animationColorGreen {
    0% { background-color: rgb(158, 255, 158);}   25% { background-color: green; }
    50% { background-color: green;}   100% { background-color: rgb(158, 255, 158);}
}
.animationColorGreen { animation: animationColorGreen .2s; }

@keyframes animationColorRed {
    0% { background-color: rgb(255, 156, 156);}   25% { background-color: red; }
    50% { background-color: red;}   100% { background-color: rgb(255, 156, 156); }
}
.animationColorRed { animation: animationColorRed .2s; }

.button-style {
    margin-top: 2rem;
    width: 8rem;
    height: 2.5rem;
    background-color: rgb(247, 141, 141);
    border: .1rem solid red;
    border-radius: .7rem;
    font-size: 1.4rem;
    color: rgb(97, 60, 60);
    cursor: pointer;
}

.button-display-none {
    display: none;
}